@import './base.css';

#app {
  box-sizing: border-box;
  margin: 0 ;
  height: 100vh;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

